
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    --color-primario:rgb(43, 56, 175);
    --color-segundario:#dadaf1;
    --color-terciario:#0c3b73;
    --color-cuarto:#928764;
    --color-quinto:white;
    
    
--fuente-monserat: "Montserrat", sans-serif;
--fuente-korona: "Krona One", sans-serif;

  
  }
  
  *{
  
      padding: 0;
      margin: 0;
    
    }
    body{
      height: 100vh; 
      background-color: var(--color-segundario);
      box-sizing: border-box;
    }
        
    .container-logo-alura{
     display: flex;
     width: 5%;
     height: 15%;
     margin: 20px 10%;
    }

    

  

    .presentación{
      display: flex; 
      flex-direction: column;
      align-items:center;
      
      /* margin: 10% 15%; */
      padding: 0% 0% ;
    } 
    .texto-presentacion{
      width: 35%;
      display: flex;
      flex-direction: column;
      gap: 20px;
  }

  .texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 14%;
    top: 15%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: var(--color-segundario);

  }
  .texto::placeholder{
    color: var(--color-segundario);
  }
  .texto:focus,
  .texto:active{

    border: none;
    outline: none;

  } 

  
  .terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    left: 13%;
    top:78%;
    }
    .terminos p{
    width: Hug (252px)px;
    height: Hug (18px)px;
    top: 851px;
    left: 240px;
    gap: 8px;
    opacity: 0px;
    color:var(--color-segundario);
    font-family: "inter";
    font-style: normal;
    font-weight:400;
    font-size:18px;
    line-height:150%;
    color: var(--color-terciario);
    opacity:0.8;
    flex:none;
    order:1;
    flex-grow:0 ;

    }

    .btn-botones{
        display: flex;
        align-items: flex-start;
        padding:1% 0;
        position: absolute;
        width: 60%;
        left: 12%;
        top:80%;
        gap: 15px;
       
        

    .btn-encriptar{
        align-items:center;
        padding: 2%;
        gap:10px;
        width :25%;
        background-color:var(--color-terciario);
        border-radius:24px;
        font-family:"inter";
        font-size:20px;
        line-height: 19px;
        text-align: center;
        color:var(--color-segundario);
        box-shadow:0px 24px 32px -8px black;
        }
    .btn-desencriptador{
        box-sizing:border-box;
        display:flex;
        flex-direction:row;
        align-items:flex-start;
        justify-content: center;
        padding:2%;
        gap:10px;
        width:25%;
        background:var(--color-quinto);
        border:1px solid var(--color-terciario);
        border-radius:24px;
        font-family:"inter";
        font-weight:400;
        font-size:20px;
        line-height:19px;
        text-align:center;
        color: var(--color-terciario);
        box-shadow:0px 24px 32px -8px black;
        }
    
    
    }
    
   
   .menssaje{
    display: flex;
    flex-direction:row-reverse;
    margin: auto;

   }
   
.menssaje{
  display:flex;
  justify-content:center;
  position:absolute;
  width:30%;
  height:80%;
  left:60%;
  top:10%;
  background:white;
  box-shadow:0px 24px 32px -8px black;
  border-radius:32px;

}
.mensaje-encriptado{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  padding:1%;
  gap:16px;
  position : absolute;
  width:100%;
  top:20%;
  text-align:center;
}

.mensaje-final{
  width:95%;
  margin: auto;
  top: 2%;
  font-family:"inter";
  font-style: normal;
  font-weight:700;
  font-size:24px;
  line-height:120%;
  text-align:center;
  color:var(--color-terciario);
  
  }
  .mensaje-final.ajustar{
    width: 70%;
    height: 600px;
    top: 62px;
    left: 1032px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    border: none;

    
  }
  .mensaje-encriptado p{
    width:90%;
    font-family:"inter";
    font-style: normal;
    font-weight:400;
    font-size:16px;
    line-height:150%;
    text-align:center;
    color:var(--color-terciario);
    }
    .mensaje-encriptado img{
      position:adsolute;
      width:80%;
      height:70%;
      top:15%;
      }

      
      .btn-copiar{
        width: 50%;
        height: Hug (67px)px;
        top: 885px;
        left: 1032px;
        padding: 24px 24px 24px 24px;
        gap: 8px;
        border-radius: 24px 24px 24px 24px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        box-shadow:0px 24px 32px -8px black;
        display: none;
        
        
      }
      .btn-copiar.ajustar{
        justify-content: space-between;

      }
      .footer{
      position: relative;
      
      padding: 24px;
      height: 90%;
      top: 90%;
      text-align:left;
      
      }
      
   


  @media(max-width:57.5em){
    
    .container-logo-alura{

      display: flex;
      flex-direction: row;

    }
    .presentación{
      width: auto;
    }
    .texto{
      width:80%;
      height:50%;
      left:10%;
      top:10%;
      }
      .terminos{
      width:70%;
      left:10%;
      top:67%;   /*baja el elemento*/
      }
      .terminos p{
      font-size:16px;
      }
      .btn-botones{
      width:130%;
      left:10%;
      top:70%;
      }
      .btn-encriptar,
      .btn-desencriptar{
      width:48%;
      border-radius:16px;
      }
      
      .btn-encriptar:hover,
      .btn-desencriptar:hover{
        margin:03%;
        width:47.5%;
        padding:1.8%;
      }
      .btn-copiar{
        width:60%;
        height: 50%;
        border-radius:16px;
        padding:1.6%;
        
      }
      .menssaje{
        width:71%;
        height:23%;
        left:10%;
        top:80%;
      }
      .mensaje-encriptado{
        width:100%;
        
        }
        
        .mensaje-final{
          width: auto;
          border: none;
        }
        .mensaje-final.ajustar{
          width: 70%;
          height: 70%;
          top: 62px;
          left: 1032px;
          gap: 0px;
          opacity: 0px;
          font-family: Inter;
          font-size: 24px;
          font-weight: 400;
          line-height: 36px;
          text-align: left;
          border: none;
          
        }
        .mensaje-encriptado img{
          display: none;
        }
.footer{
  position: relative;
  justify-content:center;
 

  
         
 }
        

       
      
    


  }

    
  
